.container_cabecalho{
    display: flex;
    padding: 2em 1.2em;
    gap: 1.2em;
}
.container_cabecalho__imagem{
    border-radius: 50%;
    width: 80px;
}
.container_cabecalho__textos--titulo{
    font-size: 22px;
    font-weight: 700;
    padding: 0.5em 0;
    color: var(--preto);
}
.container_cabecalho__textos--consultas{
    font-weight: 400;
    color: var(--cinza-claro);
}
