.rodape{
    background-color: var(--branco);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5em 0.8em;
    border-radius: 16px;
}
.rodape-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.rodape-container-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.rodape-container-item__texto{
    padding-top: 0.3em;
    color: var(--cinza-claro);
}
.rodape-container-item__imagem {
    filter: brightness(0) saturate(0%) invert(67%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(92%);
    width: 24px;
    height: 20px;
}
.rodape-container-item__imagem--ativo{
    width: 20px;
    height: 22px;

}
.rodape-container-item__texto--ativo{
    color: var(--azul);
    padding-top: 0.3em;
    text-align: center;
}

